/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  background-color: lightcyan;
  margin: 5px 30px;
  height: 100%;
  width: 99%;
  /*     #topic-form {
      display: inline-block;
    } */ }
  html body .custom-form-input input[type=text] {
    width: 40% !important;
    padding: 0px 10px;
    margin: 8px 8px; }
  html body .custom-remove {
    margin: 0px 0px;
    padding: 0px 5px;
    background-color: lightpink;
    height: 18px; }
  html body .custom-remove:hover {
    background-color: red; }
  html body .ticker-paragraph {
    line-height: normal; }
  html body #send-chat {
    width: 60%; }
  html body #my-watch-table {
    font-size: 60%; }
